[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "*"
flask = "*"
indexor_core = {git = "https://github.com/speratus/indexor-core.git"}

[dev-packages]

[requires]
python_version = ">=3.10"
